*{
    text-decoration: none;
}

h1{
    color: black;
    margin-left: 10px;
}

h3{
    color: black;
    margin-left: 10px;
}
.full-doc{
    display: flex;
}



/*CSS FOR FORM */
.form-sec{
    width: 350px;
    margin: 0px 0px 0px 50px;
}

.rad-one{
   border: 5px solid black;
   width: 10pxpx;
}

.box-radio{
    width: 145px;
    height: 30px;
    border: 2px solid grey;
    margin: 2px;
    border-radius: 5px;
    margin: 10px 0px 2px 10px;
    align-content: center;
    

}
.box-type{
    
    display: flex;
}


.info-rreq{
    margin: 10px 10px 5px 10px;
    font-size: 14px;
}

.full-name{
    font-size: 15px;
    margin-left: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
}
.e-mail{
    font-size: 15px;
    margin-left: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
}
.phone-no{
    font-size: 15px;
    margin-left: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
}
.country-name{
    font-size: 15px;
    margin-left: 10px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid grey;
}

/*CSS FOR CART SECTION */

.chk-out{
    width: 300px;
    margin: 50px;
}

.first-side{
    display: flex;
}

.image-s{
    width: 100px;
    margin: 0px 10px 10px 0px;
    height: 70px;
}

.name-one{
    margin: 0px
}

/*CSS FOR DISCOUNT */


.discount-code{
    width: 245px;
    height: 30px;
    margin: 10px 0px 5px 0px;
    color: blue;
    border-radius: 5px;
    border: 2px solid grey;
}
.coup-app{
    width: 45px;
    height: 35px;
    color: white;
    margin: 10px 0px 0px 2px;
    background-color: rgb(48, 134, 246);
    border-radius: 5px;
    border: 0px;
}
.dis-sec{
    display: flex;
}

.pro-info{
    height: 70px;
    padding: 0px;
}
.size-p{
    margin: 0px;
    padding: 5px 2px 0px;
    font-size: 13px;
}



.item-two{
    display: flex;
}
.name-two{
    margin: 0px
}




.image-two{
    width: 100px;
}

.side-form{
    align-items: center;
}

.sub-total{
    display: flex;
    width: 300px;
    height: 20px;
    margin: 5px 5px 5px 0px;
    justify-content: space-between;
    
}
.sub-money{
    height: 20px;
    margin: 5px;
}

.shipping-total{
    display: flex;
    width: 300px;
    margin: 5px 5px 5px 0px;
    justify-content: space-between;
    height: 20px;
    
    
}
.shipping-money{
    height: 20px;
    margin: 5px;
}

.sub-discount{
    display: flex;
    width: 300px;
    margin: 5px 5px 5px 0px;
    justify-content: space-between;
    height: 20px;
    
}
.discount-money{
    height: 20px;
    margin: 5px;
}

.total-amount{
    display: flex;
    width: 300px;
    margin: 5px 5px 15px 0px;
    justify-content: space-between;
    height: 20px;
    
    
}
.total-amt{
    height: 15px;
    margin: 5px;
}

h5{
    height: 20px;
    margin: 0px;
}
.pay-now{
    width: 300px;
    height: 40px;
    background-color: rgb(48, 134, 246);
    border: 0px;
    margin: 10px 0;
    border-radius: 7px;
}





.last-hdng{
    margin: 10px 0px 0px 0px;

}

.last-para{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}
